/* font-family: 'Roboto', sans-serif; */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font: 16px / 1 sans-serif;
  /* background-image: url(/space.png);
  background-size: 100%;
  background-repeat: no-repeat; */
  
}

.screen-top {
  height: 85%;
  display: flex;
  flex-direction: column;
  background-image: url("/space.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-header {
  display: flex;
  height: 60%;
  

  justify-content: center;
  align-items: center; 

}

.portfolio-pic {
  height: 15em;
  padding: 2em;
  border-radius: 2.5em;
  margin-top: 12em;
}

.text-bubble ul {
  color:#363636;
  list-style: none;
  height: 1.25em;
}

.text-bubble li {
  padding: 0.15em;
  font-family: 'Roboto', sans-serif;
  
}

.bubble {
  list-style: none;
  background: rgba(209, 212, 214, 0.90);
 
  border-radius: 0.3em;
  height: 8em;
  width: 42em;
}
.text-bubble {
  display: flex;
  flex-direction: column;
}

.big-text {
  font-size: 3em;
  font-weight: bolder;

}

.small-text {
  font-size: 25px;
}

.triangle {
  margin-left: 2em;
  width: 0;
  height: 0;
  border-top: 20px solid rgba(209, 212, 214, 0.90);
  border-right: 20px solid transparent;
}

.projects {
  height: 30%;

  margin-top: 70px;
  background-color: rgba(15, 16, 14, 0.6);	
  background-size: 100%;
}

.projects ul {
  padding: 0 2em 0 0;
  display: flex;
  justify-content: space-around;
  
  width: 100%;
  list-style: none;
  align-items: center;
  
}

.projects img {
  width: 15em;
}
.middle {
  height: 95%;
  background-color: #051018;
  display: flex;
  flex-direction: column;
  background-size: 100%;
}

.first-article {
  border-radius: 2em;
  padding: 2em;
  height: 10em;
  
}

.article-header {
  display: flex;
  align-items: baseline;
  background: white;
  padding-left: 1.5em; 
  font-family: "Roboto";
}

.large-header-text {
  font-size: 25px;
  font-weight: bold;
  padding-right: 0.5em;
  color: #424242;
}

.small-header-text {
  padding-top: 0.5em;
  color: #424242;
}


.first-article header {
  background-image: url("/assets/react.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 5em;
  border-radius: 0.5em 0.5em 0 0;
}



.above-image-text {
  color: #424242;
  font-family: 'Roboto', sans-serif;
  height: 6em; 
  padding: 0em 0 0.5em 1em;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
}

.keep-reading {
  height: 2em;
  margin-left: 75em;
  margin-top: -1.2em; 
  width: 8em;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.25em;
  font-family: 'Roboto';
  background: #3580CF;
  padding: 0 0.4em;
  color: white;
}

.second-article {
  border-radius: 2em;
  padding: 2em;
  height: 10em;
  margin-top: 1.5em;
}
.keep-reading2 {
  height: 2em;
  margin-left: 75em;
  margin-top: -1.2em; 
  width: 8em;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.25em;
  font-family: 'Roboto';
  background: #3580CF;
  padding: 0 0.4em;
  color: white;
}

#second-article-photo {
  background-image: url("/assets/code.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  height: 5em;
  border-radius: 0.5em 0.5em 0 0;
  margin-top: 2em;

}

footer {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  background-color: #051018;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  
}

.stay-connected {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1em;
}

footer ul {
  list-style: none;
}
footer li img {
  height: 5em;
}

.twitter {
  display: flex;
  padding-bottom: 3em;
}

.copyright {
  color: #D1D4D6;
  font-size: 0.75em;
  padding-bottom: 2px;
}

.copyright-symbol {
  height: 1em;
  width: 1em;
}

.heart {
  height: 10px;
  width: 1em;
}